<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="60"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ station.location_name }} ({{ station.crs | upper }})</title>
    <meta name="description"
          content="Depap-1rture board for {{ station.location_name }}"/>
    {% set keywords = [] %}
    {%- if station.are_services_available %}
      {%- for service in station.train_services -%}
        {%- for destination in service.destination -%}
          {{ keywords.append(destination.location_name) or "" }}
        {%- endfor -%}
      {%- endfor -%}
      {%- for service in station.train_services -%}
        {{ keywords.append(service.operator) or "" }}
      {%- endfor -%}
    {% endif -%}
    {% set comma = joiner(", ") %}
    <meta name="keywords"
          content="{%- for i in keywords | unique -%}{{ comma() }}{{ i }}{%- endfor -%}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous"/>
  </head>
  {% macro col_std(std, index) %}
    <div class="col-2 px-0 h5 col-sm-1 px-sm-2 text-start">
      {% if index == 0 %}<time>{{ std }}</time>{% endif %}
    </div>
  {% endmacro %}
  {#
    Macro for rendering the destination column 
  #}
  {% macro col_destination(destination, index)%}
    <div class="col-7 col-sm-8 px-sm-3 col-md-4 col-lg-5 px-0 h5"
         data-crs="{{ destination.crs }}"
         data-location-name="{{ destination.location_name }}"
         data-future-change-to="{{ destination.future_change_to }}">
      {% if index >= 1 %}&amp;{% endif %}
      <a href="{{ url_for('departures', crs=destination.crs | lower)}}"
         class="link-warning text-decoration-none">
      {{ destination.location_name }}</a>
      {% if destination.via %}
        <span class="text-light d-block d-sm-inline d-md-block d-lg-inline">{{ destination.via }}</span>
      {% endif %}
    </div>
  {% endmacro %}
  {#
    Macro for rendering the Platform column 
  #}
  {% macro col_platform(platform, is_cancelled, service_type, index)%}
    <div class="d-none d-sm-block h5 col-sm-1 text-end">
      {%- if index == 0 %}
        {%- if platform != None -%}
          {{ platform }}
        {%- elif is_cancelled %}
          &nbsp;
        {%- elif service_type == 2 %}
          Ferry
        {%- else %}
          –
        {% endif -%}
      {% endif -%}
    </div>
  {% endmacro %}
  {#
    Macro for rendering the departure column
  #}
  {% macro col_etd(etd, is_cancelled, index)%}
    {%- if is_cancelled %}
      {% set class = "text-danger" -%}
    {%- elif etd == "On time" -%}
      {%- set class = "text-light" -%}
    {%- elif etd == "Delayed" %}
      {%- set class = "text-danger" -%}
    {%- else -%}
      {%- set class = "text-warning" -%}
    {%- endif -%}
    <div class="col-3 col-sm-2 px-sm-2 px-0 h5 text-end {{ class }}">
      {%- if index == 0 %}
        {{ etd }}
      {% endif -%}
    </div>
  {% endmacro %}
  {% macro col_operator(operator, operator_code, index)%}
    <div class="d-none d-md-block col-md-4 col-lg-3 h5 text-end text-info"
         data-operator-code="{{ operator_code }}">
      {% if index == 0 %}{{ operator }}{% endif %}
    </div>
  {% endmacro %}
  {% macro row_cancelled(is_cancelled, cancel_reason)%}
    {% if is_cancelled and cancel_reason %}
      <div class="col-10 offset-2 col-sm-11 offset-sm-1 px-sm-3 h6 px-0 text-secondary">{{ cancel_reason }}</div>
    {% endif -%}
  {% endmacro %}
  {% macro row_delayed(etd, delay_reason)%}
    {%- if etd == "Delayed" and delay_reason %}
      <div class="col-10 offset-2 h6 px-0 text-secondary">{{ delay_reason }}</div>
    {% endif -%}
  {% endmacro %}
  {% macro row_formation(service)%}
    {%- if service.formation %}
      {# Don't show formation information if the service was cancelled #}
      {% if service.is_cancelled == False %}
        <div class="col-10 offset-2 px-0 col-sm-11 offset-sm-1 px-sm-3 h6 text-secondary pb-0">
          This train is formed of {{ service.formation.coaches | count }} coaches
        </div>
      {% endif %}
    {% endif -%}
  {% endmacro %}
  {#
    Macro for rendering the service row
  #}
  {% macro row_service(service) %}
    <div class="row border-bottom border-secondary pt-2 pb-0 px-2"
         data-guid="{{ service.service_id_guid }}">
      {%- for destination in service.destination %}
        {{ col_std(service.std, loop.index0) }}
        {{ col_destination(destination, loop.index0) }}
        {{ col_platform(service.platform, service.is_cancelled, service.service_type, loop.index0) }}
        {{ col_etd(service.etd, service.is_cancelled, loop.index0) }}
        {{ col_operator(service.operator, service.operator_code, loop.index0) }}
        {{ row_cancelled(service.is_cancelled, service.cancel_reason) }}
        {{ row_delayed(service.etd, service.delay_reason)}}
        {{ row_formation(service)}}
      {% endfor %}
    </div>
  {% endmacro %}
  <body id="{{ station.crs }}" class="text-bg-dark">
    <div class="container-lg">
      <div class="row border-bottom border-light border-2 bg-primary pt-3 pb-2 mb-1">
        <div class="col-9 col-sm-8 px-2 px-sm-3">
          <h1 class="h3">{{ station.location_name }}</h1>
        </div>
        <div class="col-3 col-sm-4 text-end px-sm-3 px-2">
          <p class="h3 text-light">{{ station.generated_at.strftime('%H:%M')}}</p>
        </div>
      </div>
      {%- if station.are_services_available %}
        {% if station.train_services %}
          {%- for service in station.train_services %}
            {{ row_service(service)}}
          {% endfor -%}
        {% endif %}
        {% if station.ferry_services %}
          {%- for service in station.ferry_services %}
            {{ row_service(service)}}
          {% endfor -%}
        {% endif %}
      {% endif -%}
    </div>
  </body>
</html>
